html, body {
  margin: 0;
  padding: 0;
}
body{
  color:black;
  background-color: transparent;
}
canvas {
  display: block;
}
.about-bg{
	 background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/sounds.jpg) no-repeat center fixed;
}

.CreativeCoding-bg{
   background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/kinect.jpg) no-repeat center fixed;
}
.ThreeD-bg{
   background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/prusa.jpg) no-repeat center fixed;
}
.ARVR-bg{
   background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(img/HIRO.jpg) no-repeat center fixed;
}
h1{
	/*position: absolute;*/
	color: white;
	font-family: 'Catamaran', sans-serif;
	font-size: 46px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.conatiner{
  background-color: transparent;
}

.container-fluid{
  background-color: transparent;
}
.col-md-6, .col-md-4, .col-lg-12{
  margin-top: 5em;
  color:white;
  background-color: black;
  
}
mark{
  background-color:yellow;
}
img{
  padding: 20px;
}